.App {
  .App-header {
    height: 65px;
    box-shadow: 0 0 5px 2px #c9c9c9;

    .logo-container {
      width: 800px;
      margin: auto;
    }
  }

  .container {
    display: flex;
    border: 1px solid;
    width: 1200px;
    margin: 45px auto;
    justify-content: space-between;

    .col {
      &.map {
        flex: 1.3;
      }
      &.marker-controls {
        flex: 1;
      }
      border: 1px solid;
    }
  }
}
